<h1>Vous avez choisi le produit <%= @item.title %></p><%= form_tag checkout_path do %> </h1>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>    <label class="amount">
      <span>Son prix est de : <%= @amount %> €</span>
    </label>
  </article>  <br/>  
  
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Achat d'un produit"
  data-amount=<%= @stripe_amount %>
  data-currency="eur"
  data-locale="auto"></script>
<% end %>