
<div class="jumbotron" >
  <% if current_user %>
    <div class="content-holder">
      <div class="jumbotron-text-div">
        <h1 class="display-4"><strong>Bonjour CatFan</strong></h1>
        <p class="h2"><strong>En te souhaitant un agréable voyage sur notre site de vente de photo de chatons de la part de toute l'équipe</strong></p>
      </div>
    </div>

  <% else %>
    <div class="content-holder">
      <div class="jumbotron-text-div">
        <h1 class="display-4 ">Bienvenue sur ChatonShop</h1>
        <p class="lead">Ici tu pourras trouver tout un tas de petites photos de chatons trop mignonnes.</p>
      </div>
    </div>
  <% end %>
</div>


<div class="container">
  <div class="d-flex justify-content-around flex-wrap">

<%@items.each do |item|%>

  <div class='m-4 col-md-3' >
    <div class="card ">
      <h3 class="card-header" name='title'><%=item.title%></h3>
    <div class="card-body">
    <h5 class="card-title"><%=item.price%> €</h5>
    </div>
    
      <img src="<%=item.image_url %>" class="d-block user-select-none" width="100%"  aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle" %>
    <div class="card-body d-flex flex-column align-items-center">
      <%= link_to 'Voir la description', item_path(item.id), class:"btn btn-outline-info m-2"  %>   

      <%= link_to "Ajouter au panier", item_join_table_item_cart_index_path(item.id), method: :post, class:"btn btn-info m-2",:onclick => "alert('vous avez ajouté un article au panier')"%>
    </div>

  </div>
  </div>

<%end%>
</div>
</div>
<hr>
