


<div class="container">
  <div class="d-flex justify-content ">
    <div class= "m-4" style="width: 100rem" >
      <div class="card ">
        <h3 class="card-header title"><%=@item.title%></h3>

        <div class="card-body">
          <h5 class="card-title price"><%=@item.price%> €</h5>
        </div>
        <div width="100%" class="d-flex justify-content-center">
        <img src="<%=@item.image_url %>" class="user-select-none " width="70%" aria-label="Placeholder: Image cap" focusable="false" role="img"  %>
        
        </div>
        <div class="card-body">
          <p class="card-text description"><%=@item.description%></p>
        </div>

     
      
        <%= link_to "Ajouter au panier", item_join_table_item_cart_index_path(@item.id), method: :post, class:"btn btn-info m-4" %>
       
      </div>
    </div>
  </div>
</div>